/* Services Section Styling */

section#services
  width: 100%
  max-width: 100%

.services-wrapper
  display: flex
  flex-direction: column

.services-item-wrapper
  display: flex
  flex-direction: row
  padding: 20px

.service-icon
  height: 100%
  width: 40%
  margin-right: 1rem

.service-item
  height: 100%
  width: auto
